In [2]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [3]:
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 10)
saved_style_state = matplotlib.rcParams.copy() #give us a style state to go back to

In [63]:
if os.path.isfile("Sales_GMR_Trend91q1-16q3.xls"):
    salesfilepath = "Sales_GMR_Trend91q1-16q3.xls"
    print "loading from file"
else:
    salesfilepath = "http://www.housing.nsw.gov.au/__data/assets/excel_doc/0005/408830/Sales_GMR_Trend91q1-16q3.xls"
    print "loading from the internet"

sales_data = pd.read_excel(salesfilepath, sheetname="TWad")
print type(sales_data)
print "done"

loading from file
<class 'pandas.core.frame.DataFrame'>
done

In [28]:
if os.path.isfile("Rent_Supplement_16q4.xls"):
    rentsfilepath = "Rent_Supplement_16q4.xls"
    print "loading from file"
else:
    rentsfilepath = "http://www.housing.nsw.gov.au/__data/assets/excel_doc/0004/408829/Rent_Supplement_16q4.xls"
    print "loading from the internet"

rents16q3_data = pd.read_excel(rentsfilepath, sheetname="A1")
print "done"

loading from file
done

In [29]:
rents16q3_data.head()

,A1. Median Weekly Rents - Greater Metropolitan Region by Postcodes - All Dwellings - Dec 2016,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
NaN,notes: (s) 30 or less bonds lodged; (-) 10 or...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,*Annual changes have not been reported due to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,All Dwellings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,One Bedroom,NaN,NaN,NaN,Two Bedrooms,NaN,NaN,NaN,Three Bedrooms,NaN,NaN,NaN,Four + Bedrooms,NaN,NaN,NaN
NaN,NaN,NaN,NaN,Change,NaN,NaN,NaN,Change,NaN,NaN,NaN,Change,NaN,NaN,NaN,Change,NaN

In [64]:
sales_data.head()

,PostCode,Unnamed: 1,LGA,1991-03-01 00:00:00,Unnamed: 4,1991-06-01 00:00:00,Unnamed: 6,1991-09-01 00:00:00,Unnamed: 8,1991-12-01 00:00:00,...,2015-09-01 00:00:00,Unnamed: 200,2015-12-01 00:00:00,Unnamed: 202,2016-03-01 00:00:00,Unnamed: 204,2016-06-01 00:00:00,Unnamed: 206,2016-09-01 00:00:00,Unnamed: 208
0,0,NaN,Greater Sydney,150,,155,,158,,165,...,771,,795,,755,,783,,776,
1,1,NaN,Inner Ring,137,,195,,189,,210,...,1007,,1050,,1015,,1080,,1042,
2,150,1.0,Ashfield,137,,141,,142,,145,...,858,,857,,740,,860,,735,
3,1100,2.0,Botany Bay,194,s,184,,170,,148,...,851,,843,,790,,862,,850,
4,4700,3.0,Lane Cove,-,,-,,265,s,215,...,1000,,905,,891,,840,,910,

In [65]:
sales_data.columns

Index([        u'PostCode',       u'Unnamed: 1',              u'LGA',
       1991-03-01 00:00:00,       u'Unnamed: 4', 1991-06-01 00:00:00,
             u'Unnamed: 6', 1991-09-01 00:00:00,       u'Unnamed: 8',
       1991-12-01 00:00:00,
       ...
       2015-09-01 00:00:00,     u'Unnamed: 200', 2015-12-01 00:00:00,
           u'Unnamed: 202', 2016-03-01 00:00:00,     u'Unnamed: 204',
       2016-06-01 00:00:00,     u'Unnamed: 206', 2016-09-01 00:00:00,
           u'Unnamed: 208'],
      dtype='object', length=209)